<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jadinec.model">
	<!-- 根据公司id获取公司信息 -->
	<select id="getorginfobyid" parameterType="Integer" 
	resultType="com.jadinec.model.GetOrgInfoByIdCase">
		select id,org_id,expected from
		getorginfobyid where id = #{id};
	</select>
	
	<!-- 获取公司信息 -->
	<select id="getOrgInfoById" parameterType="com.jadinec.model.GetOrgInfoByIdCase" 
	resultType="com.jadinec.model.OrganizationInfo"> 
		select id,builtIn,orgType,orgCategory,orgCode,logoImg,orgName,nickName,
		unifiedSocialCreditCode,regCapital,regAddress,legalRepPerson,openBank,
		openBackAccount,officeAddress,contactMobile,orgAddress,orgWebSite,
		 orgEmail,description,securityCertCode,businessLicenseCode,
		 pimmLicense,accountOpenLicenseCode,'delete',addTime,updateTime,
		 province,city,area,incorporationDate,businessScope,
		 operatingStatus,industry,orgLevelCode,contractorContractList,
		 isItemCompany,orgCategoryName,proCode,searchKey,parentId,
		 deptId,kname,parentCompany,operatingStatusName,industryName,
		 orgLevelName from organizationinfo 
		where id = #{org_id};
	</select>
</mapper>